[Desktop Entry]
Exec=/usr/bin/lubuntu-update
Name=Lubuntu Update
GenericName=Lubuntu Update
Comment=View available updates and optionally install them
Icon=system-software-update
Type=Application
Version=0.1
Categories=System;Settings;
Keywords=upgrade;update
Terminal=false

Name[fr]=Mises à jour Lubuntu
GenericName[fr]=Mises à jour Lubuntu
Comment[fr]=Consulter les mises à jour disponibles et optionnellement les installer
